<form method="POST">
    {{ .error }}
    <div>
        <label for="email">E-Mail *</label>
        <input type="email" name="email" id="email" placeholder="E-Mail" required />
    </div>
    <div>
        <label for="password">Contraseña *</label>
        <input type="password" name="password" id="password" placeholder="Contraseña" required />
    </div>
    <button type="submit">Iniciar Sesión</button>
    <a href="/register">Crear Cuenta</a>
</form>