<form method="POST">
    {{ .error }}
    <div>
        <label for="code">Código *</label>
        <input type="text" name="code" id="code" placeholder="Code" required />
    </div>
    <button type="submit">Continuar</button>
    <a href="/logout">Salir</a>
</form>