{{ template "header" }}
<div class="jumbotron">
    <h1>Oh so secret!!</h1>
    <p>Excelente, ya esta logueado con autenticación de doble factor</p>
    <a class="btn btn-danger btn-lg" href="/logout">Salir</a>
</div>
{{ template "footer" }}